version: "2.4"


services:
  # key value store
  redis:
    env_file: .env
    container_name: redis
    image: redis:alpine
    restart: unless-stopped
    command: redis-server --requirepass ${TWVPN_REDIS_PASSWORD:?err}
    networks:
      - redis-network
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - ./volumes/redis/config/redis.conf:/usr/local/etc/redis/redis.conf
      - ./volumes/redis/config:/usr/local/etc/redis
      - ./volumes/redis/data:/data

  # monitor of teeworlds servers
  econ-vpn-detection:
    env_file: .env
    container_name: econ-vpn-detection
    build: .
    restart: unless-stopped
    command: 
      - --add
      - /data/blacklists/blacklist.txt
      - --remove
      - /data/whitelists/whitelist.txt
    volumes:
    - ./volumes/vpn-detection/blacklists/blacklist.txt:/data/blacklists/blacklist.txt
    - ./volumes/vpn-detection/whitelists/whitelist.txt:/data/whitelists/whitelist.txt
    networks:
      - redis-network
    depends_on:
      - redis
    environment:
      # mandatory
      TWVPN_ECON_ADDRESSES: ${TWVPN_ECON_ADDRESSES:?err}
      TWVPN_ECON_PASSWORDS: ${TWVPN_ECON_PASSWORDS:?err}
      TWVPN_REDIS_ADDRESS: redis:6379
      TWVPN_REDIS_PASSWORD: ${TWVPN_REDIS_PASSWORD:?err}
      # optional
      TWVPN_IPHUB_TOKEN: ${TWVPN_IPHUB_TOKEN:-}
      TWVPN_IPTEOH_ENABLED: ${TWVPN_IPTEOH_ENABLED:-false}
      TWVPN_OFFLINE: ${TWVPN_OFFLINE:?false}
      TWVPN_PERMA_BAN_THRESHOLD: ${TWVPN_PERMA_BAN_THRESHOLD:-0.6}
      TWVPN_PROXYCHECK_TOKEN: ${TWVPN_PROXYCHECK_TOKEN:-}
      TWVPN_REDIS_DB_VPN: ${TWVPN_REDIS_DB_VPN:-0}
      TWVPN_VPN_BAN_DURATION: ${TWVPN_VPN_BAN_DURATION:-1h}
      TWVPN_VPN_BAN_REASON: ${TWVPN_VPN_BAN_REASON:-VPN}

networks:
  redis-network:
    external: false