version: "2.4"


services:
  
  # key value store
  redis:
    env_file: .env
    container_name: redis
    image: redis:alpine
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PASSWORD:?err}
    networks:
      - redis-network
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - ./volumes/redis/config/redis.conf:/usr/local/etc/redis/redis.conf
      - ./volumes/redis/config:/usr/local/etc/redis
      - ./volumes/redis/data:/data
  
  # monitor of teeworlds servers
  econ-vpn-detection:
    env_file: .env
    container_name: econ-vpn-detection
    build: .
    restart: unless-stopped
    command: 
      - --add
      - /data/blacklists/blacklist.txt
      - --remove
      - /data/whitelists/whitelist.txt
    volumes:
    - ./volumes/vpn-detection/blacklists/blacklist.txt:/data/blacklists/blacklist.txt
    - ./volumes/vpn-detection/whitelists/whitelist.txt:/data/whitelists/whitelist.txt
    networks:
      - redis-network
    depends_on:
      - redis
    environment:
      # mandatory
      ECON_ADDRESSES: ${ECON_ADDRESSES:?err}
      ECON_PASSWORDS: ${ECON_PASSWORDS:?err}
      REDIS_ADDRESS: redis:6379
      REDIS_PASSWORD: ${REDIS_PASSWORD:?err} 
      # optional
      OFFLINE: ${OFFLINE:?false} 
      IPHUB_TOKEN: ${IPHUB_TOKEN:-} 
      PROXYCHECK_TOKEN: ${PROXYCHECK_TOKEN:-} 
      IPTEOH_ENABLED: ${IPTEOH_ENABLED:-false}
      PERMABAN_THRESHOLD: ${PERMABAN_THRESHOLD:-0.6}
      REDIS_DB_VPN: ${REDIS_DB_VPN:-0} 
      VPN_BAN_REASON: ${VPN_BAN_REASON:-VPN} 
      VPN_BAN_DURATION: ${VPN_BAN_DURATION:-1h} 
      LOGGING_FORMAT: ${LOGGING_FORMAT:-Vanilla}
      PROXY_DETECTION_ENABLED: ${PROXY_DETECTION_ENABLED:-false}
      PROXY_UPDATE_INTERVAL: ${PROXY_UPDATE_INTERVAL:-1m}
      PROXY_BAN_REASON: ${PROXY_BAN_REASON:-proxy connection}
      PROXY_BAN_DURATION: ${PROXY_BAN_DURATION:-24h}
 
networks:
  redis-network:
    external: false